@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fontsgstaticcom/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX8_6029399.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../fontsgstaticcom/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aX8_6029331.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(../fontsgstaticcom/s/roboto/v30/KFOkCnqEu92Fr1MmgVxIIzc_6160399.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fontsgstaticcom/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc9_131083.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fontsgstaticcom/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP_589927.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fontsgstaticcom/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc9_6225931.ttf) format('truetype');
}
